<div class="body">
    <div>
        <h1 class='title'>Click to discover more!</h1>
        <hr style="BORDER-RIGHT: medium none; BORDER-TOP: black 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px; width: 45%">
    </div>
    <div *ngIf="classes">
        <ul class="tags">
            <li *ngFor="let class of classes"><h5><button (click)="sendMessages(class)">{{class}}</button></h5></li>
        </ul>
    </div>
    <div class="cars" *ngIf="Cars2">
            <ul class="hits">
                <li *ngFor="let car of Cars2">
                    <img src={{car.webformatURL}} />
                    <br />
                    <div class="under">
                        <h5>Author: {{car.user}}</h5>
                        <button class="saveCars" (click)="sendSave(car.webformatURL, car.tags, car.id)">Save</button>
                        <hr style="BORDER-RIGHT: medium none; BORDER-TOP: black 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 1px; width: 45%">
                    </div>
                </li>
            </ul>
    </div>
</div>
